@layout("/common/_container.html"){
<!-- 右侧具体内容栏目 -->
<!-- 右侧具体内容栏目 -->
<div class="">
	<div class="col-sm-3" style="padding-top: 9px;">
		<span style="font-weight: bolder;">| ${ctnm}</span>
	</div>
	<div style="padding-right: 5px; text-align: right;">
		<a href="#" class="btn btn-default btn-white"> <span
			class="glyphicon glyphicon-plus "></span>设为可疑
		</a> <a href="#" class="btn btn-default btn-white"> <span
			class="glyphicon glyphicon-check"></span>调整评级
		</a> <a href="#" class="btn btn-default btn-white"> <span
			class="glyphicon glyphicon-list-alt"></span>加入黑名单
		</a>
	</div>
	<div role="tabpanel" class="tab-pane active">
		<div class="panel-heading">
			<a href="#" class="btn btn-default btn-white"> <span
				class="glyphicon glyphicon-plus "></span>添加地址信息
			</a>
		</div>
		<div class="panel-body">
			<table id="addressInfoTable"></table>
		</div>
	</div>
</div>
<script type="text/javascript"
	src="${ctxPath}/static/modular/system/crMng/addressInfo.js"></script>
<link href="${ctxPath}/static/bootstrap/css/bootstrap-select.css"
	rel="stylesheet">
<script src="${ctxPath}/static/bootstrap/js/bootstrap-select.js"></script>

@}
