<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<div class="form-group ">
	<label for="account" class="col-xs-4 control-label">模型代码：</label>
	<div class="col-xs-8 ">
		<input type="hidden" class="form-control input-sm duiqi" name="id"  value="${ratRankRule.id}" placeholder="">
		<input type="text" class="form-control input-sm duiqi" name="rId"  value="${ratRankRule.rId}" placeholder="">
	</div>
</div>
<div class="form-group ">
	<label for="sName" class="col-xs-4 control-label">规则因子：</label>
	<div class="col-xs-8 ">
		<input  class="form-control input-sm duiqi" name="modleInd"  value="${ratRankRule.modleInd}" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sLink" class="col-xs-4 control-label">因子公式：</label>
	<div class="col-xs-8 ">
		<input class="form-control input-sm duiqi"  value="${ratRankRule.indMatch}" name="indMatch" placeholder="">
	</div>
</div>