<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<div class="form-group ">
	<label for="account" class="col-xs-4 control-label">规则名称：</label>
	<div class="col-xs-8 ">
		<input type="hidden" class="form-control input-sm duiqi" name="rlCd"  value="${iQulSet.rlCd}" placeholder="">
		<input type="text" class="form-control input-sm duiqi" name="rlNm"  value="${iQulSet.rlNm}" placeholder="">
	</div>
</div>
<div class="form-group ">
	<label for="sName" class="col-xs-4 control-label">规则模型：</label>
	<div class="col-xs-8 ">
		<input  class="form-control input-sm duiqi" name="rlTp"  value="${iQulSet.rlTp}" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sLink" class="col-xs-4 control-label">状态：</label>
	<div class="col-xs-8 ">
		<input class="form-control input-sm duiqi"  value="${iQulSet.status}" name="status" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sOrd" class="col-xs-4 control-label">需要调整的等级：</label>
	<div class="col-xs-8">
		<input class="form-control input-sm duiqi" value="${iQulSet.adjRank}" name="adjRank" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label">目标等级：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${iQulSet.tgtRank}" name="tgtRank" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label"> 优先级：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${iQulSet.priority}" name="priority" placeholder="">
	</div>
</div>