<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<div class="form-group ">
	<label for="account" class="col-xs-4 control-label">模型代码：</label>
	<div class="col-xs-8 ">
		<input type="hidden" class="form-control input-sm duiqi" name="id"  value="${ratMFct.id}" placeholder="">
		<input type="text" class="form-control input-sm duiqi" name="mdlCd"  value="${ratMFct.mdlCd}" placeholder="">
	</div>
</div>
<div class="form-group ">
	<label for="sName" class="col-xs-4 control-label">模型版本：</label>
	<div class="col-xs-8 ">
		<input  class="form-control input-sm duiqi" name="mdlVer" value="${ratMFct.mdlVer}" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label">级别层数：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMFct.lvlNo}" name="lvlNo" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label">级别编号：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMFct.fctLvl}" name="fctLvl" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label"> 因子代码：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMFct.fctCd}" name="fctCd" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label"> 因子名称：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMFct.fctNm}" name="fctNm" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label"> 因子类型：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMFct.fctTp}" name="fctTp" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label"> 因子值类型：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMFct.fctKd}" name="fctKd" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label"> 父级别编号：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMFct.supLvl}" name="supLvl" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label"> 计算公式：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMFct.config}" name="config" placeholder="">
	</div>
</div>