<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<div class="form-group ">
	<label for="account" class="col-xs-4 control-label">模型代码：</label>
	<div class="col-xs-8 ">
		<input type="text" class="form-control input-sm duiqi" name="mdlCd"  value="${ratMSet.mdlCd}" placeholder="">
	</div>
</div>
<div class="form-group ">
	<label for="sName" class="col-xs-4 control-label">模型名称：</label>
	<div class="col-xs-8 ">
		<input  class="form-control input-sm duiqi" name="mdlNm"  value="${ratMSet.mdlNm}" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label">模型版本：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMSet.mdlVr}" name="mdlVr" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label">适用范围：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMSet.mdlSc}" name="mdlSc" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label"> 状态：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMSet.status}" name="status" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label"> 备注：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${ratMSet.remark}" name="remark" placeholder="">
	</div>
</div>
