<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<div class="form-group ">
	<label for="account" class="col-xs-4 control-label">等级代码：</label>
	<div class="col-xs-8 ">
		<input type="text" class="form-control input-sm duiqi" name="rkCd"  value="${tCraMdlRank.rkCd}" placeholder="">
	</div>
</div>
<div class="form-group ">
	<label for="sName" class="col-xs-4 control-label">等级名称：</label>
	<div class="col-xs-8 ">
		<input  class="form-control input-sm duiqi" name="rkNm"  value="${tCraMdlRank.rkNm}"placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sLink" class="col-xs-4 control-label">下限分值：</label>
	<div class="col-xs-8 ">
		<input class="form-control input-sm duiqi"  value="${tCraMdlRank.minVal}" name="minVal" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sOrd" class="col-xs-4 control-label">上限分值：</label>
	<div class="col-xs-8">
		<input class="form-control input-sm duiqi" value="${tCraMdlRank.maxVal}" name="maxVal" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label">评定周期（月）：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${tCraMdlRank.ascc}" name="ascc" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label">控制措施：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${tCraMdlRank.ctms}" name="ctms" placeholder="">
	</div>
</div>
<div class="form-group">
	<label for="sKnot" class="col-xs-4 control-label"> 备注：</label>
	<div class="col-xs-8">
		<input  class="form-control input-sm duiqi" value="${tCraMdlRank.rkds}" name="rkds" placeholder="">
	</div>
</div>
