<div class="form-group ">
										<label class="col-xs-3 control-label">类别：</label>
										<div class="col-xs-8 ">
											<input  class="form-control input-sm duiqi" name="dmTp"   placeholder="">
										</div>
									</div>
									<div class="form-group ">
										<label  class="col-xs-3 control-label">代码：</label>
										<div class="col-xs-8 ">
											<input  class="form-control input-sm duiqi" name="dmCd"  placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label for="sName" class="col-xs-3 control-label">名称：</label>
										<div class="col-xs-8 ">
											<input  class="form-control input-sm duiqi"   name="dmNm" placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label  class="col-xs-3 control-label">父码：</label>
										<div class="col-xs-8">
											<input  class="form-control input-sm duiqi"  name="dmSp" placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label for="sKnot" class="col-xs-3 control-label">备注：</label>
										<div class="col-xs-8">
											<input  class="form-control input-sm duiqi" name="dmDs" placeholder="">
										</div>
									</div>