@layout("/common/_container.html"){
<!-- 右侧具体内容栏目 -->
<div id="rightContent" style="overflow:auto;">
	<!-- Tab panes -->
	<div class="" id="tab_content">
		<!--人员管理模块-->
			<div role="tabpanel" class="tab-pane active">
				<div class="panel panel-default">
					<div class="panel-heading">
							查询条件
					</div>
					<div class="panel-body form-group" style="margin:0 auto">
						<label class="col-sm-1 control-label">类别：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" name="search_dmTp" id="searchType"/>
						</div>
						<label class="col-sm-1 control-label">代码：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" name="search_dmCd" id="searchCode"/>
						</div>
						<label class="col-sm-1 control-label">名称：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" name="search_dmNm" id="searchName"/>
						</div>
					   <div class="col-md-3 col-md-offset-3" >
						   <button class="btn btn-primary" id="search_btn">查询</button>
						   <button class="btn btn-primary" id="btn_add">新增</button>
					   </div>
					 </div>
				</div>
				<div  class="panel-body">
					<table id="dataTable"></table>
				</div>
			</div>
			<!--弹出添加字典Modal窗口-->
			<div class="modal fade" id="addDict" role="dialog" aria-labelledby="gridSystemModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="gridSystemModalLabel">添加字典项</h4>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<form class="form-horizontal" id="DictAddFrom">
									<div class="form-group ">
										<label class="col-xs-3 control-label">类别：</label>
										<div class="col-xs-8 ">
											<input  class="form-control input-sm duiqi" name="DM_TP" id="DM_TP"     placeholder="">
										</div>
									</div>
									<div class="form-group ">
										<label  class="col-xs-3 control-label">代码：</label>
										<div class="col-xs-8 ">
											<input  class="form-control input-sm duiqi" name="DM_CD" id="DM_CD"  placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label for="sName" class="col-xs-3 control-label">名称：</label>
										<div class="col-xs-8 ">
											<input  class="form-control input-sm duiqi"   name="DM_NM" id="DM_NM"   placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label  class="col-xs-3 control-label">父码：</label>
										<div class="col-xs-8">
											<input  class="form-control input-sm duiqi"  name="DM_SP" id="DM_SP"   placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label for="sKnot" class="col-xs-3 control-label">备注：</label>
										<div class="col-xs-8">
											<input  class="form-control input-sm duiqi" name="dm_ds" id="dm_ds"  placeholder="">
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-xs btn-white" data-dismiss="modal" >取 消</button>
							<button type="button"  class="btn btn-xs btn-white" id="resetBtn">重置</button>
							<button type="button" class="btn btn-xs btn-green" id="validateBtn">保 存</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

			<!--弹出删除用户警告窗口-->
			<div class="modal fade" id="deleteDict" role="dialog" aria-labelledby="gridSystemModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="2gridSystemModalLabel">提示</h4>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								确定要删除该字典？删除后不可恢复！
							</div>
						</div>
						<div class="modal-footer">
							<input type="hidden" id="delId">
							<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
							<button type="button" class="btn  btn-xs btn-danger" onclick="delUserSubmit()">确 定</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			
			<!--弹出修改字典Modal窗口-->
		<div class="modal fade" id="reviseDict" role="dialog" aria-labelledby="gridSystemModalLabel" style="position:absolute;z-index:9999;">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title" id="gridSystemModalLabel">修改字典</h4>
		            </div>
		            <div class="modal-body">
		                <div class="container-fluid">
		                    <form class="form-horizontal" id="editForm">
		                    <div class="form-group ">
										<label class="col-xs-3 control-label">类别：</label>
										<input type="hidden" name="id"   id="dictId" value="${dict.id!}"> </input>
										<div class="col-xs-8 ">
											<input  class="form-control input-sm duiqi" name="DM_TP"   id="dictDmtp" value="${dict.dm_tp!}"  placeholder="">
										</div>
									</div>
									<div class="form-group ">
										<label  class="col-xs-3 control-label">代码：</label>
										<div class="col-xs-8 ">
											<input  class="form-control input-sm duiqi" name="DM_CD"  id="dictDmcd"  value="${dict.dm_cd!}"  placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label for="sName" class="col-xs-3 control-label">名称：</label>
										<div class="col-xs-8 ">
											<input  class="form-control input-sm duiqi"   name="DM_NM" id="dictDmnm" value="${dict.dm_nm!}"  placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label  class="col-xs-3 control-label">父码：</label>
										<div class="col-xs-8">
											<input  class="form-control input-sm duiqi"  name="DM_SP" id="dictDmsp" value="${dict.dm_sp!}"  placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label for="sKnot" class="col-xs-3 control-label">备注：</label>
										<div class="col-xs-8">
											<input  class="form-control input-sm duiqi" name="dm_ds" id="dictDmds" value="${dict.dm_ds!}"  placeholder="">
										</div>
									</div>
		                    
		                    </form>
		                </div>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-xs btn-white" data-dismiss="modal" >取 消</button>
		                <button type="button" class="btn btn-xs btn-green" id="editBtn">保 存</button>
		            </div>
		        </div>
        <!-- /.modal-content -->
	    </div>
	    <!-- /.modal-dialog -->
		</div>
			<script>
			    $("#reviseDict").on("hidden.bs.modal",function () {
			        $("#reviseDict").hide();
			    });
			    $(function () {
			        $("#editBtn").click(function(){
			            alert(1);
			        })
			    })
			</script>
		</div>
</div>
<script src="${ctxPath}/static/modular/system/dict/dict.js"></script>
@}