<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aml.propaganda.mapper.CmsNewsAndDictMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aml.propaganda.model.CmsNewsAndDictModel">
		<id column="ID" property="id" />
		<result column="CHANNEL_ID" property="channelId" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="IS_PUBLISH" property="isPublish" />
		<result column="PUBLISHER" property="publisher" />
		<result column="PUBLISH_TIME" property="publishTime" />
		<result column="IS_NEW" property="isNew" />
		<result column="VISIT_COUNT" property="visitCount" />
		<result column="IS_SCROLL" property="isScorll" />
		<result column="IS_DISPLAY" property="isDisplay" />
		<result column="AUDITER" property="auditer" />
		<result column="AUDIT_TIME" property="auditTime" />
		<result column="KEYWORD" property="keyword" />
		<result column="PUBLISH_TYPE" property="publishType" />
		<result column="BEG_DATE" property="begDate" />
		<result column="END_DATE" property="endDate" />
		<result column="AUTHOR" property="author" />
		<association property="dict" javaType="com.aml.sys.entity.Dict">
			<result property="dmNm" column="DM_NM"/>
		</association>
	</resultMap>
	<sql id="BASE_COLUMN_LIST">
		cms.ID,CHANNEL_ID,TITLE,CONTENT,IS_PUBLISH,PUBLISHER,PUBLISH_TIME,
		IS_NEW,VISIT_COUNT,IS_SCROLL,IS_DISPLAY,AUDITER,AUDIT_TIME,
		KEYWORD,PUBLISH_TYPE,BEG_DATE,END_DATE,AUTHOR,DM_NM,d.id AS dId
	</sql>
	
	<!-- 查询全部法律法规 -->
	<select id="findAllCmsNewsJoinId" resultMap="BaseResultMap">
		select
			<include refid="BASE_COLUMN_LIST"/>
		 from CMS_NEWS cms,dict d where cms.channel_id=d.id
	    <if test="channelId != null and channelId != ''">
	    	and cms.CHANNEL_ID = #{channelId}
	    </if>
	    <if test="title != null and title != ''">
	    	and (title like CONCAT('',#{title},'%'))
	    </if>
	</select>
</mapper>