<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aml.sys.mapper.TargetRuleDetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aml.sys.entity.TargetRuleDetail">
		
		
	</resultMap>

    <!-- 通用查询结果列 -->
 
	<sql id="Base_Column_List">
		rule_id ,
		target_rule_id ,
		rule_no ,
		rule_name ,
		rule_condition_name ,
		rule_category ,
		rule_desc ,
		rule_create_date ,
		rule_enable 
	</sql>
    
    
	
    
	<select id="findTargetRuleDetail" resultType="com.aml.sys.entity.TargetRuleDetail">
	    select 
	   	<include refid="Base_Column_List" />
	    from target_rule_detail
	    where 1=1
		target_rule_id = #{targetRuleId}
		order by rule_create_date desc   limit #{currentPage},#{currentReslut}
	</select>
	  
	<insert id="addTargetRuleDetail">
		insert into target_rule_detail(rule_id,target_rule_id,rule_no,rule_name,rule_condition_name,rule_category,rule_desc,rule_create_date,rule_enable)
		values (#{ruleId},#{targetRuleId},#{ruleNo},#{ruleName},#{ruleConditionName},#{ruleCategory},#{ruleDesc},now(),'Y')
	</insert>
	
	<delete id="deleteTargetByTargetId">
	   	delete  from target_rule_detail where rule_id = #{ruleId}
	</delete>
	   
	 <update id="updateTargetByTargetId">
		update target_rule_detail set rule_no = #{ruleNo}, rule_name =#{ruleName},rule_condition_name =#{ruleConditionName} ,rule_category=#{ruleCategory} ,rule_desc =#{ruleDesc} where rule_id =#{ruleId}
	</update>

</mapper>
