<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href="${ctxPath}/static/css/main.css" rel="stylesheet">
	</head>
	<body style="overflow:auto;">	
		<div class="content-h clearfix" style="margin-top:50px;margin-left:65px;">
			<div class="row clearfix">
				<div class="content-frame-h" style="width:275px;">
					<div class="title-h">
						<img src="${ctxPath}/static/img/mtqz.png" style="width:20px;"><span class="text-span">监测报告</span>
					</div>
					<div class="row clearfix">
						<div class="width-per50-left h80">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								可疑0
							</div>
						</div>
						<div class="width-per50-right h80">
							<div class="detail-name-h">
								待报告主体数
							</div>
							<div class="detail-data-h">
								可疑0
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="width-per50-left h80">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								可疑0
							</div>
						</div>
						<div class="width-per50-right h80">
							<div class="detail-name-h">
								待报告主体数
							</div>
							<div class="detail-data-h">
								可疑0
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="width-per50-left h80">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								可疑0
							</div>
						</div>
						<div class="width-per50-right h80">
							<div class="detail-name-h">
								待报告主体数
							</div>
							<div class="detail-data-h">
								可疑0
							</div>
						</div>
					</div>
					<div class="row clearfix h80">
						<div class="detail-name-h">
							待确认主体数
						</div>
						<div class="detail-data-h">
							可疑0
						</div>
					</div>
				</div>
				
				<div class="content-frame-h" style="width: 650px;">
					<div class="title-h">
						<img src="${ctxPath}/static/img/mtqz.png" style="width: 20px;"><span class="text-span">名单预警/客户评级</span>
					</div>
					<div class="row clearfix">
						<div class="width-per50-left h80">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
							</div>
						</div>
						<div class="width-per50-right h80">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="width-per50-left h80">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
							</div>
						</div>
						<div class="width-per50-right h80">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="width-per50-left h80">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
							</div>
						</div>
						<div class="width-per50-right h80">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="width-per50-left h80 border-bottom-none">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
								<span class="text-line">个体客户为0</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="content-frame-h" style="width: 275px;">
					<div class="title-h">
						<img src="${ctxPath}/static/img/mtqz.png" style="width:20px;"><span class="text-span">数据采集</span>
					</div>
					<div class="row clearfix">
						<div class="width-per50-left h80">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								可疑0
							</div>
						</div>
						<div class="width-per50-right h80">
							<div class="detail-name-h">
								待报告主体数
							</div>
							<div class="detail-data-h">
								可疑0
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="width-per50-left h80 border-bottom-none">
							<div class="detail-name-h">
								待确认主体数
							</div>
							<div class="detail-data-h">
								可疑0
							</div>
						</div>
						<div class="width-per50-right h80 border-bottom-none">
							<div class="detail-name-h">
								待报告主体数
							</div>
							<div class="detail-data-h">
								可疑0
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div style="float:left; width:285px;">
					<div class="content-frame-h" style="width:275px;">
						<div class="title-white">
							<span class="text-span">规则筛选</span>
						</div>
						<div class="row clearfix">
							<ul class="detail-list">
								<li>今天规则筛选任务</li>
								<li>今天规则筛选任务</li>
								<li>今天规则筛选任务</li>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="content-frame-h" style="width:275px;">
						<div class="title-white">
							<span class="text-span">系统预警</span>
						</div>
						<div class="row clearfix">
							<ul class="detail-list">
								<li>今天规则筛选任务</li>
								<li>今天规则筛选任务</li>
								<li>今天规则筛选任务</li>
							</ul>
						</div>
			   </div>
				
			</div>
		</div>
			</body>
</html>
		
