@layout("/common/_container.html"){
<!-- 右侧具体内容栏目 -->
<div id="rightContent" style="overflow: auto;">
	<!-- Tab panes -->
	<div class="" id="tab_content">
		<!--运行日志管理模块-->
		<div role="tabpanel" class="tab-pane active">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="#" class="btn btn-default"> <span
						class="glyphicon glyphicon-unchecked"></span>显示
					</a> <a href="#" class="btn btn-default"> <span
						class="glyphicon glyphicon-sort-by-attributes"></span>排序
					</a> <a href="#" class="btn btn-default"> <span
						class="glyphicon glyphicon-search"></span>高级查询
					</a>
				   <!--  <a href="#" class="btn btn-default"> <span
						class="glyphicon glyphicon-search"></span>日志下载
					</a> -->
				</div>
				<div class="panel-body form-group" style="margin: 0 auto">
					<label class="col-sm-1 control-label"
						style="width: 10%; margin-top: 12px;">跑批日期：</label>
					<div class="col-sm-2" style="width:20%; margin-top:12px;">
						<input type='text' class="form-control"
							style="width: 180px; height: 30px;" id="startDate"
							name="startDate" />
					</div>
					<label class="col-sm-1 control-label" style="width:2%; margin-top:12px;">-</label>
        			<div class="col-sm-2" style="width:20%; margin-top:12px;">			
						<input type='text' class="form-control"
							style="width: 180px; height: 30px;" id="endDate" name="endDate">
					</div>
					<label class="col-sm-1 control-label" style="width:10%; margin-top:12px;">任务类型：</label>
					<div class="col-sm-2" style="width:30%; margin-top:12px;">
						<select class=" form-control select-duiqi" id="taskType" name="taskType">
							<option value="">---请选择---</option>
							<option value="DAY_END">昨日日终</option>
							<option value="ETL">数据采集</option>
							<option value="WARN">名单预警</option>
							<option value="CRA">客户评级</option>
							<option value="RULE">规则筛选</option>
						</select>
					</div>
					<label class="col-sm-1 control-label" style="width:10%;margin-top:14px;">运行结果：</label>
					<div class="col-sm-2" style="width:20%; margin-top:10px;">
							<select class=" form-control select-duiqi" id="taskState" name="taskState">
								<option value="">---请选择---</option>
								<option value="1">等待运行</option>
								<option value="2">正在运行</option>
								<option value="3">运行成功</option>
								<option value="4">运行失败</option>
								<option value="5">未被运行</option>
							</select>
					</div>
					<div class="col-md-3 col-md-offset-3" style="width:10%">
						<button class="btn btn-primary" id="search_btn">查询</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				
			</div>
		</div>
		
	</div>
</div>
<script
	src="${ctxPath}/static/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="${ctxPath}/static/modular/system/log/runLog.js"></script>
@}
