<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aml.earlyWarning.mapper.EarlyWarmingAreaMapper">
<!-- 名单预警个人地区 -->
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aml.earlyWarning.entity.EarlyWarmingArea">
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		
	</sql>
	
	<select id="find" resultType="com.aml.earlyWarning.entity.EarlyWarmingArea">
		
	</select>
	
	<select id="qyeryCount" resultType="com.aml.earlyWarning.entity.EarlyWarmingArea">
		
	</select>

	


</mapper>