<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aml.crMng.mapper.TStanPersonMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aml.crMng.entity.TStanPerson">
		<result column="id" property="id" />
		<result column="client_tp" property="clientTp" />
		<result column="account_tp" property="accountTp" />
		<result column="busi_type" property="busiType" />
		<result column="busi_reg_no" property="busiRegNo" />
		<result column="ctnm" property="ctnm" />
		<result column="smid" property="smid" />
		<result column="education" property="education" />
		<result column="marriage" property="marriage" />
		<result column="ceml" property="ceml" />
		<result column="ctvc" property="ctvc" />
		<result column="rgdt" property="rgdt" />
		<result column="cls_dt" property="clsDt" />
		<result column="redt" property="redt" />
		<result column="country" property="country" />
		<result column="nation" property="nation" />
		<result column="sex" property="sex" />
		<result column="birthday" property="birthday" />
		<result column="endtime" property="endtime" />
		<result column="agency_ctnm" property="agencyCtnm" />
		<result column="agency_citp" property="agencyCitp" />
		<result column="agency_ctid" property="agencyCtid" />
		<result column="agency_edt" property="agencyEdt" />
		<result column="remark" property="remark" />
		<result column="tsdt1" property="tsdt1" />
		<result column="tsdt2" property="tsdt2" />
		<result column="extend1" property="extend1" />
		<result column="extend2" property="extend2" />
		<result column="extend3" property="extend3" />
		<result column="extend4" property="extend4" />
		<result column="extend5" property="extend5" />
		<result column="cur_in_num" property="curInNum" />
		<result column="cur_in_amt" property="curInAmt" />
		<result column="cur_out_num" property="curOutNum" />
		<result column="cur_out_amt" property="curOutAmt" />
		<result column="acc_in_num" property="accInNum" />
		<result column="acc_in_amt" property="accInAmt" />
		<result column="acc_out_num" property="accOutNum" />
		<result column="acc_out_amt" property="accOutAmt" />
		<result column="risk_level" property="riskLevel" />
		<result column="comp_score" property="compScore" />
		<result column="succ_num" property="succNum" />
		<result column="rept_num" property="reptNum" />
		<result column="stdt" property="stdt" />
		<result column="indu_code" property="induCode" />
		<result column="stat_flag" property="statFlag" />
		<result column="mer_prov" property="merProv" />
		<result column="mer_area" property="merArea" />
		<result column="mer_unit" property="merUnit" />
		<result column="next_date" property="nextDate" />
		<result column="is_line" property="isLine" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="run_dt" property="runDt" />
		<result column="hashcode" property="hashcode" />
	</resultMap>



	<sql id="Base_Column_List">
		id,
		client_tp,
		account_tp,
		busi_type,
		busi_reg_no,
		ctnm,
		smid,
		education,
		marriage,
		ceml,
		ctvc,
		rgdt,
		cls_dt,
		redt,
		country,
		nation,
		sex,
		birthday,
		endtime,
		agency_ctnm,
		agency_citp,
		agency_ctid,
		agency_edt,
		remark,
		tsdt1,
		tsdt2,
		extend1,
		extend2,
		extend3,
		extend4,
		extend5
		,
		cur_in_num
		,
		cur_in_amt,
		cur_out_num,
		cur_out_amt
		,
		acc_in_num,
		acc_in_amt,
		acc_out_num,
		acc_out_amt

		,
		risk_level
		,
		comp_score

		,
		succ_num
		,
		rept_num,
		stdt
		,
		indu_code,
		stat_flag,
		mer_prov,
		mer_area,
		mer_unit,
		next_date,
		is_line,
		create_time,
		update_time,
		run_dt
		,
		hashcode
	</sql>

	<!-- 查询 -->
	<select id="findAllTStanPerson" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_stan_person
		where
		1=1
		<if test="busiRegNo != null and busiRegNo != ''">
			AND busi_reg_no = #{busiRegNo}
		</if>
		ORDER BY id ASC
	</select>


</mapper>