<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aml.crMng.mapper.TStanAddressMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aml.crMng.entity.TStanAddress">
		<result column="id" property="id" />
		<result column="ctif_id" property="ctifId" />
		<result column="address_tp" property="addressTp" />
		<result column="address" property="address" />
		<result column="is_rp" property="isRp" />
		<result column="remark1" property="remark1" />
		<result column="remark2" property="remark2" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="run_dt" property="runDt" />
		<result column="hashcode" property="hashcode" />
	</resultMap>



	<sql id="Base_Column_List">
		id
<!-- 		ctif_id, -->
<!-- 		address_tp, -->
<!-- 		address, -->
<!-- 		is_rp -->
<!-- 		remark1, -->
<!-- 		remark2, -->
<!-- 		create_time, -->
<!-- 		update_time, -->
<!-- 		run_dt, -->
<!-- 		hashcode -->
	</sql>

	<!-- 查询 -->
	<select id="findAllTStanAddress" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_stan_address
		where
		1=1
		<if test="ctifId != null and ctifId != ''">
			AND ctif_id = #{ctifId}
		</if>
		ORDER BY id ASC
	</select>



</mapper>