<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aml.cRat.mapper.RGMatMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="ratRankRuleResultMap" type="com.aml.cRat.entity.RatRankRule">
		<id column="ID" property="id" />
		<result column="RID" property="rId" />
		<result column="MODLE" property="modle" />
		<result column="MODLE_IND" property="modleInd" />
		<result column="IND_MATCH" property="indMatch" />
		<result column="REMARK" property="remark" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATOR" property="creator" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATOR" property="updator" />
	</resultMap>
    <!-- 通用查询结果列 -->
	<sql id="ratRankRule_Column_List">
		ID,
		RID,
		MODLE,
		MODLE_IND,
		IND_MATCH,
		REMARK,
		CREATE_TIME,
		CREATOR,
		UPDATE_TIME,
		UPDATOR
	</sql>
    <select id="findAllRatRankRule" resultType="com.aml.cRat.entity.RatRankRule">
	      select 
	     	<include refid="ratRankRule_Column_List" />
	      from T_CRA_MDL_IND_RANK_RULE
	       where 1=1 
    		and ( RID = CONCAT('',#{rId},''))
    	  order by UPDATE_TIME desc 
    </select>
    <insert id="saveRatRankRule" parameterType="com.aml.cRat.entity.RatRankRule">
	    INSERT INTO T_CRA_MDL_IND_RANK_RULE (
	    	ID,
			RID,
			MODLE_IND,
			IND_MATCH,
			CREATE_TIME,
			CREATOR,
			UPDATE_TIME,
			UPDATOR)
		VALUES (
			null,
			#{rId},
			#{modleInd},
			#{indMatch},
			#{createTime},
			#{creator},
			#{updateTime},
			#{updator}
		);
    </insert>
</mapper>