<!-- <div class="form-group ">
<input type="hidden" name="id" value="${dept.id!}"> </input>
	<label class="col-xs-3 control-label">机构代码：</label>
	<div class="col-xs-8 ">
		<input  class="form-control input-sm duiqi" name="code" value="${dept.code!}"  placeholder="" >
	</div>
</div>
<div class="form-group ">
	<label class="col-xs-3 control-label">机构名称：</label>
	<div class="col-xs-8 ">
		<input  class="form-control input-sm duiqi" name="fullname" value="${dept.fullname!}"   placeholder="">
	</div>
</div>
<div class="form-group">
	<label class="col-xs-3 control-label">上级机构：</label>
	<div class="col-xs-8 ">
		<input  class="form-control input-sm duiqi"  name="pid"  value="${dept.pid!}" placeholder="">
	</div>
</div> -->