<!DOCTYPE html>
<html>
<head>
<title>traget.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<link href="${ctxPath}/static/css/bootstrap.min.css" rel="stylesheet" />
<link
	href="${ctxPath}/static/css/plugins/bootstrap-table/bootstrap-table.min.css"
	rel="stylesheet">
<link
	href="${ctxPath}/static/css/plugins/bootstrap-table/bootstrap-table.min.css"
	rel="stylesheet">
<link href="${ctxPath}/static/css/animate.min.css" rel="stylesheet">
<link href="${ctxPath}/static/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="${ctxPath}/static/css/plugins/validate/bootstrapValidator.min.css" />
<link rel="stylesheet" href="${ctxPath}/static/css/style.min.css" />

<link
	href="${ctxPath}/static/css/plugins/jquery-confirm/jquery-confirm.css"
	rel="stylesheet">

<link
	href="${ctxPath}/static/css/plugins/bootstrap-select/bootstrap-select.css"
	rel="stylesheet">
<link href="${ctxPath}/static/css/plugins/select2/select2.css"
	rel="stylesheet">

<script src="${ctxPath}/static/jquery/jquery-1.11.3.min.js"
	type="text/javascript"></script>
<script src="${ctxPath}/static/js/bootstrap.min.js"></script>
<script
	src="${ctxPath}/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script
	src="${ctxPath}/static/js/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

<script src="${ctxPath}/static/js/jquery.min.js"></script>
<script src="${ctxPath}/static/js/bootstrap.min.js"></script>
<script
	src="${ctxPath}/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script
	src="${ctxPath}/static/js/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script
	src="${ctxPath}/static/js/plugins/validate/bootstrapValidator.min.js"></script>

<script type="text/javascript" src="js/jquery-ui-custom.min.js"></script>

<script
	src="${ctxPath}/static/js/plugins/jquery-confirm/jquery-confirm.js"></script>

<script
	src="${ctxPath}/static/js/plugins/bootstrap-select/bootstrap-select.js"></script>

<script src="${ctxPath}/static/js/plugins/select2/select2.min.js"></script>

<style>
.back:hover {
	cursor: pointer;
}

.fixed-table-toolbar .btn-group>.btn-group:last-child>.btn {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

label {
	width: 100px;
}

.popup_de {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	display: none;
}

.bbox {
	display: -webkit-box;
	/* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: -moz-flex;
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
}

.bbox.xycenter {
	-moz-box-pack: center; /*Firefox*/
	-webkit-box-pack: center; /*Safari,Opera,Chrome*/
	box-pack: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	-moz-box-align: center; /*Firefox*/
	-webkit-box-align: center; /*Safari,Opera,Chrome*/
	box-align: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;
}

.popup_de .popup_box {
	width: 300px;
	height: 150px;
	font-family: '微软雅黑';
	background-color: #fff;
	border-radius: 5px;
	color: #333;
}

.popup_de .popup_btn {
	display: inline-block;
	width: 100px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #1ab394;
	font-size: 15px;
	text-align: center;
	line-height: 30px;
	margin-right: 15px;
	cursor: pointer;
}

.popup_de .show_msg {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px;
}

.popup_de .popup_close {
	width: 30px;
	height: 30px;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	float: right;
	border-top-right-radius: 5px;
	line-height: 30px;
}

.popup_de .popup_close:hover {
	background-color: #1ab394;
	color: #fff;
}

.popup_de .btn_submit {
	background-color: #1ab394;
	color: #fff;
}

.popup_de .btn_box {
	text-align: center;
}
</style>


</head>

<body>
	<div class="tableBody">
		<div class="panel panel-default">
			<div class="panel-heading">查询条件</div>
			<div class="panel-body form-group" style="margin-bottom:0px;">
				<label class="col-sm-2 control-label"
					style="text-align: right; margin-top:5px">规则名称：</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" name="mainEn"
						id="search_name" />
				</div>
				<label class="col-sm-2 control-label"
					style="text-align: right; margin-top:5px">作用类型：</label>
				<div class="col-sm-2">
					<div class="col-sm-8">
						<select class="js-states form-control" id="search_tel"
							style="width: 100%">
							<option>---请选择---</option>
						</select>
					</div>
				</div>
				<div class="col-sm-2 pull-right">
					<button class="btn btn-primary" id="search_btn">查询</button>
				</div>

			</div>
		</div>
		<table id="mytab" class="table table-hover"></table>
		<div id="toolbar" class="btn-group pull-right"
			style="margin-right: 20px;">
			<button id="btn_edit" type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
			</button>
			<button id="btn_delete" type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
			</button>
			<button id="btn_add" type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
			</button>
		</div>
	</div>
	<div class="modal fade" style="width:100%;position: absolute;top:10px"
		id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="ibox-title">
						<h5>新增规则</h5>
					</div>
					<div class="ibox-content">
						<form id="addForm" method="post" class="form-horizontal"
							action="target.php">
							<div class="form-group">
								<label class="col-sm-2 control-label">规则名称</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="rollName"
										id="rollName" />
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label">规则内容</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="rollCont"
										id="rollCont" />
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label">规则描述</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="rollDesc"
										id="rollDesc" />
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label">作用类型</label>
								<div class="col-sm-10">

									<div class="col-sm-8">
										<select class="js-states form-control" name="rollType"
											id="rollType" style="width: 100%">
											<option>---请选择---</option>
										</select>
									</div>

								</div>
							</div>
							<div class="modal-footer">
								<div class="col-sm-2 col-sm-offset-2">
									<button type="button" class="btn btn-primary btn-block"
										id="add_saveBtn">保存</button>
								</div>
								<div class="col-sm-2 col-sm-offset-1">
									<button type="button" class="btn btn-default btn-block"
										id="add_backBtn">返回</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" style="width:100%;position: absolute;top:10px"
		id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="ibox-title">
						<h5>修改规则</h5>
					</div>
					<div class="ibox-content">
						<form id="editForm" method="post" class="form-horizontal">
							<div class="form-group" style="display:none">
								<label class="col-sm-2 control-label">rollId</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="rollId"
										id="editRollId" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">规则名称</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="rollName"
										id="editRollName" readonly />
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label">规则内容</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="rollCont"
										id="editRollCont" />
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label">规则描述</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="rollDesc"
										id="editRollDesc" />
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label">作用类型</label>
								<div class="col-sm-10">
									<div class="col-sm-8">
										<select class="js-states form-control" name="rollType" id="editRollType"
											style="width: 100%">
											<option>---请选择---</option>
										</select>
									</div>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<div class="col-sm-2 col-sm-offset-2">
									<button type="button" class="btn btn-primary btn-block"
										id="edit_saveBtn">保存</button>
								</div>
								<div class="col-sm-2 col-sm-offset-1">
									<button type="reset" class="btn btn-default btn-block"
										id="edit_backBtn">重置</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="dialog-message" class="hide">
		<p>是否删除规则</p>
	</div>

	<div class="modal fade" style="width:100%;position: absolute;top:10px"
		id="deleteModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">是否删除</label>
					</div>
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-2">
							<button type="button" class="btn btn-primary btn-block"
								id="delete_saveBtn">删除</button>
						</div>
						<div class="col-sm-2 col-sm-offset-1">
							<button type="reset" class="btn btn-default btn-block"
								id="delete_saveBtn">返回</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">
		$(function(){
		getLayerLoad("search_tel","ENABLETYPE");
		getLayerLoad("editRollType","ENABLETYPE");
		getLayerLoad("rollType","ENABLETYPE");
	//根据窗口调整表格高度
    $(window).resize(function() {
        $("'#mytab").bootstrapTable('resetView', {
            height: tableHeight()
        })
    })
    
    //生成用户数据
    $("#mytab").bootstrapTable({
    	method: 'post',
    	contentType: "application/x-www-form-urlencoded",
    	url:"/earlyWarning/ruler/FindTStanAreaRollType",
    	height:tableHeight(),//高度调整
    	toolbar: "#toolbar",
    	dataType: "json",
    	striped: true, //是否显示行间隔色
    	/* dataField: "res", */
    	pageNumber: 1, //初始化加载第一页，默认第一页
    	pagination:true,//是否分页
    	queryParamsType:"limit",
    	idField: "rollId",
    	queryParams:queryParams,
    	sidePagination:"server",
    	pageSize:10,//单页记录数
    	pageList:[5,10,20,30],//分页步进值
    	showRefresh:true,//刷新按钮
    	showColumns:true,
    	showFooter:true,
    	showPaginationSwitch:true,
    	clickToSelect: true,//是否启用点击选中行
    	toolbarAlign:"right",
    	buttonsAlign:"right",//按钮对齐方式
    	toolbar:"#toolbar",//指定工作栏
        smartDisplay: false,//智能显示分页按钮
   		paginationPreText: "上一页",
    	paginationNextText: "下一页",
    	cardView: false, //是否显示详细视图
    	columns:[
        	{
        		title:"全选",
        		field:'select',
        		checkbox:true,
        		width:25,
        		align:'center',
        		valign:'middle'
        	},
        	{field: '序号', title: '序号',
                formatter: function (value, row, index) {
                    return index+1;
            }},
        	{
        		title:"ID",
        		field:"'rollId'",
        		visible:false
        	},
        	{
        		title:"规则名称",
        		field:"rollName",
        		sortable:true
        	},
        	{
        		title:"作用类型",
        		field:'rollType',
        		sortable:true
        	},
        	{
        		title:"类型",
        		field:"rollEn",
        	},
        	{
        		title:"规则内容",
        		field:"rollCont"
        	},
        	{
        		title:"描述",
        		field:"rollDesc",
        		sortable:true
        	}
    	],
    	locale:'zh-CN',//中文支持,
    	formatLoadingMessage: function () {
		    			return "请稍等，正在加载中...";
		    		},
		    		formatNoMatches: function () {  //没有匹配的结果
		    			return "无符合条件的记录";
		    		},
    	responseHandler: function(res) {
			               return {
			                    "total": res.data.records,//总页数
			                    "rows": res.data.rows   //数据
			                 };
		    				
		            },
    })

		  //请求成功后生成去噪规则页面表单内容
		  $("#addForm").bootstrapValidator({
		       	feedbackIcons: {
		               valid: 'glyphicon glyphicon-ok',
		               invalid: 'glyphicon glyphicon-remove',
		               validating: 'glyphicon glyphicon-refresh'
		           },
		           fields: {
		               rollName: {
		                   validators: {
		                       notEmpty: {
		                           message: "规则名称不能为空"
		                       }
		                   }
		               },
		               rollCont: {
		                   validators: {
		                       notEmpty: {
		                           message: "规则内容不能为空"
		                       }
		                   }
		               },
		               rollDesc:{
		               	validators:{
		               		notEmpty:{
		               			message:"规则描述不能为空"
		               		}
		               	}
		               	
		               },
		               rollType: {
		                   validators: {
		                       notEmpty: {
		                           message: "规则类型不能为空"
		                       }
		                   }
		               }
		           }
		     });
		    $("#editForm").bootstrapValidator({
		       	feedbackIcons: {
		               valid: 'glyphicon glyphicon-ok',
		               invalid: 'glyphicon glyphicon-remove',
		               validating: 'glyphicon glyphicon-refresh'
		           },
		           fields: {
		               rollName: {
		                   validators: {
		                       notEmpty: {
		                           message: "规则名称不能为空"
		                       }
		                   }
		               },
		               rollCont: {
		                   validators: {
		                       notEmpty: {
		                           message: "规则内容不能为空"
		                       }
		                   }
		               },
		               rollDesc:{
		               	validators:{
		               		notEmpty:{
		               			message:"规则描述不能为空"
		               		}
		               	}
		               	
		               },
		               rollType: {
		                   validators: {
		                       notEmpty: {
		                           message: "规则类型不能为空"
		                       }
		                   }
		               }
		           }
		       });
   function operateFormatter(value,row,index){
    	if(value==2){
    		return '<i class="fa fa-lock" style="color:red"></i>'
    	}else if(value==1){
    		return '<i class="fa fa-unlock" style="color:green"></i>'
    	}else{
    		return '数据错误'
    	}
    }

    //请求服务数据时所传参数
    function queryParams(params){
    	return{
    		 rows: params.limit,
    		 page:params.offset+1, 
    		 mainEn:$('#search_name').val(),
    		 mainCn:$('#search_tel').val()
    	}
    }
    //查询按钮事件
    $('#search_btn').click(function(){
    	$("#mytab").bootstrapTable('refresh', {url: "/target/QuaryTarget/findNaOrEare"});
    })
    
    //增加按钮事件
    $('#btn_add').click(function(){
		/* $('.tableBody').addClass('animated slideOutLeft');
		setTimeout(function(){
			$('.tableBody').removeClass('animated slideOutLeft').css('display','none');
		},500)
		$('.addBody').css('display','block');
		$('.addBody').addClass('animated slideInRight'); */
		$('#addForm').data('bootstrapValidator').resetForm(true);
		$('#myModal').modal();
		
		
    })
    //删除按钮与修改按钮的出现与消失
   /*   $('.bootstrap-table').change(function(){
    	var dataArr=$('#mytab .selected');
    	if(dataArr.length==1){
    		$('#btn_edit').css('display','block').removeClass('fadeOutRight').addClass('animated fadeInRight');
    	}else{
    		$('#btn_edit').addClass('fadeOutRight');
    		setTimeout(function(){
    			$('#btn_edit').css('display','none');
    		},400);	
    	}
    	if(dataArr.length>=1){
    		$('#btn_delete').css('display','block').removeClass('fadeOutRight').addClass('animated fadeInRight');
    	}else{
    		$('#btn_delete').addClass('fadeOutRight');
    		setTimeout(function(){
    			$('#btn_delete').css('display','none');
    		},400);	
    	}
    }); */ 
    //修改按钮事件
    $('#btn_edit').click(function(){
    	var dataArr=$('#mytab').bootstrapTable('getSelections');
    	if(dataArr==null||dataArr==""){
    		$.alert("请选择编辑的列");
    		return false;
    	}else{
    		$('#editRollId').val(dataArr[0].rollId);
			$('#editRollName').val(dataArr[0].rollName);
			$('#editRollCont').val(dataArr[0].rollCont);
			$('#editRollDesc').val(dataArr[0].rollDesc);
			$('#editRollType').val(dataArr[0].rollType);
			$('#editModal').modal();
			return true;
    	}
		
    })
    /*
     * 去噪规则管理增加去噪规则页面所有事件
    */
    //增加页面表单验证   
    // Validate the form manually
    $('#add_saveBtn').click(function() {
       //点击保存时触发表单验证
       $('#addForm').bootstrapValidator('validate');
      var mts = $("#addForm").data('bootstrapValidator').isValid();
       if($("#addForm").data('bootstrapValidator').isValid()){
    	   var _info = $('#addForm').serialize();
    	  $.post(
				"/earlyWarning/ruler/AddTStanAreaRollType",
				$('#addForm').serialize(),
				function(data){
					//后台返回添加成功
					$.alert("添加成功");
					 $('#myModal').modal('hide'); 
					/*  $('#addForm').reset(); */
					 $('#mytab').bootstrapTable('refresh', {url: "/earlyWarning/ruler/FindTStanAreaRollType"});
				     $('#addForm').data('bootstrapValidator').resetForm(true);
				}
			) 
       }
    });
    //增加页面返回按钮事件
    $('#add_backBtn').click(function() {
    	$('.addBody').addClass('animated slideOutLeft');
    	setTimeout(function(){
			$('.addBody').removeClass('animated slideOutLeft').css('display','none');
		},500)
    	$('.tableBody').css('display','block').addClass('animated slideInRight');  
    	$('#addForm').data('bootstrapValidator').resetForm(true);
    });
    /*
     * 用户管理修改用户页面所有事件
    */
    //修改页面回退按钮事件
    $('#edit_backBtn').click(function(){
    	$('.changeBody').addClass('animated slideOutLeft');
    	setTimeout(function(){
			$('.changeBody').removeClass('animated slideOutLeft').css('display','none');
		},500)
    	$('.tableBody').css('display','block').addClass('animated slideInRight'); 
    	$('#editForm').data('bootstrapValidator').resetForm(true);
    })
    //修改页面保存按钮事件
    $('#edit_saveBtn').click(function(){
    	$('#editForm').bootstrapValidator('validate');
    	if($("#editForm").data('bootstrapValidator').isValid()){
    		 $.post("/earlyWarning/ruler/UpdateTStanAreaRollType",
				$('#editForm').serialize(),
				function(data){
					
					   $('#editModal').modal('hide');  
					   $.alert("修改成功");
				    	$('#mytab').bootstrapTable('refresh', {url: "/earlyWarning/ruler/FindTStanAreaRollType"});
				    	//修改页面表单重置
				    	$('#editForm').reset();
				    	$('#editForm').data('bootstrapValidator').resetForm(true);
				/* 	if(data.suc==true){
						
					}else{
					} */
			    }
    		 ) 
    	}
    })
    //删除事件按钮
   /*  $( "#btn_delete" ).on('click', function(e) {
					e.preventDefault();
				var dataArr=$('#mytab').bootstrapTable('getSelections');
				if(dataArr==null||dataArr==""){
					alert("请选择删除的列");
					return false;
				}else{
					$( "#dialog-confirm" ).removeClass('hide').dialog({
						resizable: false,
						modal: true,
						title: "是否删除",
						title_html: true,
						buttons: [
							{
								html: "<i class='icon-trash bigger-110'></i>&nbsp; 删除",
								"class" : "btn btn-danger btn-xs",
								click: function() {
									var rollId=[];
						        	for(var i=0;i<dataArr.length;i++){
						        		rollId[i]=dataArr[i].rollId;
						        	}
						        	$.post("/earlyWarning/ruler/DeleteTStanAreaRollType",
						        			{rollIdDelete:rollId},
						        			function(data){
						        		if(data.suc==true){
						        			$('.popup_de .show_msg').text('删除成功！');
											$('.popup_de .btn_cancel').css('display','none');
											$('.popup_de').addClass('bbox');
											$('.popup_de .btn_submit').one('click',function(){
												$('.popup_de').removeClass('bbox');
											})
						        			$('#mytab').bootstrapTable('refresh', {url: "/earlyWarning/ruler/FindTStanAreaRollType"});
						        		}else{
						        		}
						        	});
									$( this ).dialog( "close" );
								}
							}
							,
							{
								html: "<i class='icon-remove bigger-110'></i>&nbsp; 返回",
								"class" : "btn btn-xs",
								click: function() {
									$( this ).dialog( "close" );
								}
							}
						]
					});
					return true;
				}
					
				}); */
		
    
    $("#btn_delete").on("click", function () {
    
    var dataArr=$('#mytab').bootstrapTable('getSelections');
    if(dataArr==null||dataArr==""){
					$.alert("请选择删除的列");
					return false;
				}else{
					$.confirm({
                            title: "删除",
                            content: "是否删除",
                            icon: 'fa fa-question-circle',
                            animation: 'scale',
                            closeAnimation: 'scale',
                            opacity: 0.5,
                            buttons: {
                                'confirm': {
                                    text: "删除",
                                    btnClass: 'btn-blue',
                                    action: function () {
                                      var rollId=[];
						        	for(var i=0;i<dataArr.length;i++){
						        		rollId[i]=dataArr[i].rollId+"";
						        	}
						        	$.post("/earlyWarning/ruler/DeleteTStanAreaRollType",
						        			{rollIdDelete:rollId+""},
						        	function(data){
						        			$('#mytab').bootstrapTable('refresh', {url: "/earlyWarning/ruler/FindTStanAreaRollType"});
						        			$.alert("删除成功");
						        	});
                                    }
                                },
                                	返回: function () {
                                },
                            }
                          });
					return true;
				}
              });
    
    
    //弹出框取消按钮事件
   　　$('.popup_de .btn_cancel').click(function(){
	   $('.popup_de').removeClass('bbox');
   　　})
    //弹出框关闭按钮事件
     $('.popup_de .popup_close').click(function(){
	   $('.popup_de').removeClass('bbox');
   　　})
   
  	
})
function tableHeight() {
    return $(window).height() - 140;
}

	function getLayerLoad(tcId,lookupType){
			$.ajax({   
				 url:"/tool/ruler/findByType?lookupType="+lookupType,
			     dataType:'json',
			     data:'',
			     jsonp:'callback',
			     async:false,
			     jsonpCallback:"success_jsonpCallback",
			     success:function(data){
			     $("#"+tcId).empty();
			     $("#"+tcId).append("<option>---请选择---</option>");
			     $.each(data.data,function(i,o){
			     var opt="";
			     opt+="<option value='"+o.lookupEn+"'>"+o.lookupDesc+"</option>";
			     $("#"+tcId).append(opt);
			     });
			    /*  $("#"+tcId).selectpicker("refresh"); *///动态加载
			    },error:function(){
			     }
			});
   }
   getLayerLoad("search_tel","ENABLETYPE");
</script>
	<div style="display:none">
		<script src='${ctxPath}/static/js/plugins/stat/stat.js'
			language='JavaScript' charset='gb2312'></script>
	</div>
</body>
</html>


